.side-panel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #5a6268;
    border: solid 1px #545b62;
    padding: 7px 10px;
    line-height: 1.5;
    color: white;
}

.side-panel__content {
    display: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: solid 1px #545b62;
    padding-bottom: 7px;
}
.side-panel__content--expanded {
    display: block;
}
