.number-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.number-control__label {
    flex: 1 1 auto;
    min-width: 0;
}

.number-control__input {
    width: 40px;
    flex: 0 0 auto;
}

.number-control .input__number-input {
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}
