.navigation {
    height: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-bottom: solid 1px #ccc;
}

.navigation-link {
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    color: #111;
}
