.play-page {
    min-height: calc(100vh - 50px);
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-items: stretch;
    position: relative;
}

.play-area {
    flex-grow: 1;
}

.play-page__side-bar {
    width: 300px;
    border-left: solid 1px #ccc;
}

.play-page__top-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    border-bottom: solid 1px #ccc;
}

.top-menu {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
}

.scene-menu {
    padding: 10px 7px;
}

.scene-menu__scene-option {
    display: flex;
    align-items: center;
}

.scene-menu__scene-name {
    padding: 0px 10px;
    width: 100px;
}
