.scene-panel__actions {
    display: flex;
}

.scene-panel__actions > * {
    padding: 0 5px;
}

.scene-panel__footer {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0px;
}
